祝日.json
[{"id":"69bed636.f49078","type":"inject","z":"d26a093e.a6a3a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":160,"wires":[["85e5bf00.8449c"]]},{"id":"85e5bf00.8449c","type":"http request","z":"d26a093e.a6a3a8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://holidays-jp.github.io/api/v1/date.json","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":160,"wires":[["d8b5be58.a98db","a924cda.8c9b53"]]},{"id":"a924cda.8c9b53","type":"debug","z":"d26a093e.a6a3a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.2019-10-22","targetType":"msg","x":550,"y":220,"wires":[]},{"id":"d8b5be58.a98db","type":"debug","z":"d26a093e.a6a3a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":160,"wires":[]}]